<launch>
    <!-- Set parameters -->
    <rosparam file="$(find geolocation)/config/ros_params.yaml" />

    <!-- Set topic names -->
    <rosparam file="$(find geolocation)/config/topic_names.yaml" />

    <!-- Launch Innovusion LiDAR -->
    <include file="$(find innovusion_pointcloud)/launch/innovusion_points.launch" />

    <!-- Launch tf2 broadcasters -->
    <node name="base_tf2" pkg="geolocation" type="base_tf2_broadcaster" />
    <node name="map_tf2" pkg="geolocation" type="map_tf2_broadcaster" />

    <!-- Launch geolocation script -->
    <node name="geolocation" pkg="geolocation" type="geo_publisher.py" args="0" output="screen" />

    <!-- Launch dummy GPS publisher (if enabled) -->
    <arg name="dummy_gnss" default="false" />

    <!-- Launch sensor drivers (if not disabled) -->
    <arg name="sensors" default="true" />

    <group if="$(arg dummy_gnss)">
        <rosparam file="$(find geolocation)/config/dummy_params.yaml" />
        <node name="dummy_brng" pkg="geolocation" type="dummy_bearing_pub" />
        <node name="dummy_elv" pkg="geolocation" type="dummy_elv_pub" />
        <node name="dummy_gnss" pkg="geolocation" type="dummy_gnss_pub" />
    </group>

    <!-- Launch Object3d Detector -->
    <node name="object3d_detector" pkg="object3d_detector" type="object3d_detector" output="screen" respawn="false" required="true"/>

    <group if="$(arg sensors)">
        <!-- Launch Handsfree IMU -->
        <node name="handsfree_imu" pkg="handsfree_ros_imu" type="hfi_a9_ros.py" respawn="false" required="false">
            <param name="port" type = "str" value="/dev/HFRobotIMU"/>
            <param name="gra_normalization" type = "bool"   value="True"/>
        </node>

        <!-- Launch GPSD Client -->
        <node name="gpsd_client" pkg="gpsd_client" type="gpsd_client" output="screen" respawn="false" required="false">
            <param name="_host" type = "str" value="localhost"/>
            <param name="_port" type = "int" value="4000"/>
        </node>
    </group>

    <!-- Launch rviz with the preconfiguration -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find geolocation)/launch/live.rviz" />
</launch>