<launch>
    <!-- Set parameters -->
    <rosparam file="$(find geolocation)/config/ros_params.yaml" />

    <!-- Set topic names -->
    <rosparam file="$(find geolocation)/config/topic_names.yaml" />

    <!-- Launch Innovusion LiDAR -->
    <include file="$(find innovusion_pointcloud)/launch/innovusion_points.launch" />

    <!-- Launch tf2 broadcasters -->
    <node name="base_tf2" pkg="geolocation" type="base_tf2_broadcaster" />
    <node name="map_tf2" pkg="geolocation" type="map_tf2_broadcaster" />

    <!-- Launch geolocation script -->
    <node name="geolocation" pkg="geolocation" type="geo_publisher.py" args="0" output="screen" />

    <!-- Launch dummy GPS publisher (if enabled) -->
    <arg name="dummy_gnss" default="false" />

    <group if="$(arg dummy_gnss)">
        <rosparam file="$(find geolocation)/config/dummy_params.yaml" />
        <node name="dummy_brng" pkg="geolocation" type="dummy_bearing_pub" />
        <node name="dummy_elv" pkg="geolocation" type="dummy_elv_pub" />
        <node name="dummy_gnss" pkg="geolocation" type="dummy_gnss_pub" />
    </group>

    <!-- Launch Object3d Detector -->
    <node name="object3d_detector" pkg="object3d_detector" type="object3d_detector" output="screen" respawn="true" required="true"/>

    <!-- Launch Handsfree IMU -->
    <node name="handsfree_imu" pkg="handsfree_imu" type="handsfree_imu" respawn="true" required="true"/>

    <!-- Launch GPSD -->

    <!-- Launch rviz with the preconfiguration -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find geolocation)/launch/live.rviz" />
</launch>